<%- include('header', { title: 'Home' }); %>

<main class="container mx-auto min-w-fit flex flex-col items-center text-center justify-center">
  <% if (user) { %>
    <h2 class="text-3xl">Welcome  <%= user.name  %> <%= user.surname  %>! 🎉</h1>
  <% } else { %>
    <a href="/register">
      <%- include('button', { color: 'red', type: 'button', text: 'Create new account' }); %>
    </a>
    <a href="/login">
      <%- include('button', { color: 'blue', type: 'button', text: 'Sign in' }); %>
    </a>
  <% } %>
</main>
